option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2.micro
    EC2KeyName: beanstalk
  aws:autoscaling:asg:
    Availability Zones: Any
    Cooldown: '720'
    MaxSize: '3'
    MinSize: '2'
  aws:autoscaling:trigger:
    LowerBreachScaleIncrement: '-1'
    UpperBreachScaleIncrement: '1'
    UpperThreshold: '4'
    BreachDuration: '5'
    EvaluationPeriods: '1'
    LowerThreshold: '1'
    MeasureName: Latency
    Period: '5'
    Statistic: Average
    Unit: Seconds
  aws:ec2:vpc:
    VPCId: vpc-63380b18
    AssociatePublicIpAddress: 'false'
    ELBScheme: public
    ELBSubnets: subnet-891c92c3, subnet-3870bd5f
    Subnets: subnet-8c1e90c6, subnet-1f74b978
