
option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2.micro
    EC2KeyName: beanstalk
  aws:autoscaling:asg:
    Availability Zones: Any
    Cooldown: '720'
    MaxSize: '3'
    MinSize: '2'
  aws:autoscaling:trigger:
    LowerBreachScaleIncrement: '-1'
    UpperBreachScaleIncrement: '1'
    UpperThreshold: '4'
    BreachDuration: '5'
    EvaluationPeriods: '1'
    LowerThreshold: '1'
    MeasureName: Latency
    Period: '5'
    Statistic: Average
    Unit: Seconds
  
