# Defines deployment policy
#  - AllAtOnce disables rolling deployments and always deploy to all instances simultaneously.
#  - Rolling enables standard rolling deployments.
#  - RollingWithAdditionalBatch launches an extra batch of instances, prior to starting the deployment, to maintain full capacity.
#  - Immutable performs an immutable update for every deployment.
#     - Immutable deployments perform an immutable update to launch a full set of new instances running the new version of the application in a separate Auto Scaling group, alongside the instances running the old version.

option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Immutable
    HealthCheckSuccessThreshold: Warning
    IgnoreHealthCheck: true
    Timeout: "900"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
