option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 128M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "On"
    max_execution_time: 60

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_create_env_file.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      base_app=/var/app/current
      env_file=$base_app/.env
      echo "APP_KEY=" > $env_file
      echo "APP_DEBUG=true" >> $env_file
      php $base_app/artisan key:generate
